## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(101),80)
print(sample_list_1)

[22, 76, 25, 37, 36, 38, 12, 14, 91, 16, 30, 29, 20, 15, 31, 65, 13, 1, 100, 5, 43, 27, 6, 70, 54, 24, 57, 50, 53, 32, 4, 40, 84, 95, 51, 80, 62, 71, 2, 58, 34, 68, 26, 83, 63, 10, 55, 81, 93, 79, 11, 87, 3, 33, 44, 42, 73, 92, 60, 48, 21, 99, 72, 8, 56, 78, 69, 61, 49, 66, 88, 90, 86, 67, 77, 28, 97, 9, 89, 52]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print("The length of set1 is {} which is still 80".format(len(set1)))

#The length is still 80 because the list contained unique values

The length of set1 is 80 which is still 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = random.choices(range(101),k=80)

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print("The length of set2 is {} which is not anymore 80".format(len(set2)))

#The length is not 80 because the list can contain one value more than one, not unique elements anymore

The length of set2 is 52 which is not anymore 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
set3=set1 - (set1&set2)
print(set3)

{1, 2, 5, 6, 8, 9, 10, 11, 12, 14, 16, 20, 26, 30, 34, 36, 37, 38, 43, 48, 55, 56, 62, 66, 67, 69, 70, 76, 77, 79, 81, 83, 84, 89, 90, 91, 92, 93, 95, 97, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here
set4=set2 - (set2&set1)
print(set4)

{0, 64, 96, 98, 7, 74, 45, 46, 17, 18, 19, 85, 59, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here
set5=set1&set2
print(set5)

{3, 4, 13, 15, 21, 22, 24, 25, 27, 28, 29, 31, 32, 33, 40, 42, 44, 49, 50, 51, 52, 53, 54, 57, 58, 60, 61, 63, 65, 68, 71, 72, 73, 78, 80, 86, 87, 88}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
# Your code here
if len(set1)==(len(set3) + len(set5)):
    print("len(set1)=len(set3)+len(set5)")
else:
    print("Wrong math formula")
    
if len(set2)==(len(set4) + len(set5)):
    print("len(set2)=len(set4)+len(set5)")
else:
    print("Wrong math formula")

len(set1)=len(set3)+len(set5)
len(set2)=len(set4)+len(set5)

#### Create an empty set called `set6`.

In [11]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here
if set1==set6:
    print("set1 and set6 are equal")
else:
    print("set1 and set6 are different")

set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here
if set2.issubset(set1)==True:
    print("set1 contains set2")
else:
    print("set1 does not contain set2")

if set3.issubset(set1)==True:
    print("set1 contains set3")
else:
    print("set1 does not contain set3")

set1 does not contain set2
set1 contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [18]:
# Your code here
setaux1 = set3.union(set4, set5)
setaux2 = set1.union(set1,set2)

if setaux1 == setaux2:
    print("The aggregated values are equal")
else:
    print("The aggregated values are not equal")

The aggregated values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [21]:
# Your code here
set1.pop()

#Set is an unordered data type. There is no way of determining which item willbe popped. It is completely artbitrary.
#First element could be deleted, using discard method once it is known what the value of the first element is

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [22]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    set1.discard(i)

print(set1)

{2, 3, 4, 5, 6, 8, 10, 12, 13, 14, 15, 16, 20, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 36, 37, 38, 40, 42, 43, 44, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 70, 72, 73, 76, 77, 78, 80, 83, 84, 86, 87, 88, 90, 92, 93, 95, 97, 100}